html {
	height: 100%;
}

body {
	padding-top: 3.5rem;
	height: 100%;
}

canvas {
	height: 100%;
	width: 100%;
}

.justify-p {
	text-align: justify;
}

h1, h2, h3, h4 {
	color: white;
}

.quickglance {
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
	margin-left: 3%;
	margin-right: 3%;
}

.manual-passage {
	padding-top: 7rem;
}

.theme-dark {
	background: linear-gradient(to right, #8d91a3, #f4c3d1);
	background-size: 200% 100%;
	color: rgba(255, 255, 255, 0.9);
	text-decoration-color: rgba(255, 255, 255, 0.9);
	animation: gradient-move ease 3s infinite;
}

@keyframes gradient-move {
	0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.inline-link {
	color: #FFA726;
}

.inline-link:hover {
	color: #7E57C2;
}

.bg-transparent {
	background-color: transparent;
	background-image: none;
}

.btn-main {
	background-color: #FFA726;
	text-decoration-color: white;
	border: none;
}

.btn-main:hover {
	background-color: #7E57C2 !important;
}

.reactive-icon {
	color: rgba(255, 255, 255, 0.75)
}

.reactive-icon:hover {
	color: rgba(255, 255, 255, 1)
}

.circles {
	width: 300px;
	height: 300px;
	margin: auto;
}

.center-align {
	text-align: center;
}

#RAM-bar {
	width: 80%;
	height: 2.25rem;
	background-color: white;
}

#CPU-bar {
	width: 90%;
	height: 2.25rem;
	background-color: white;
}

#GPU-bar {
	width: 30%;
	height: 2.25rem;
	background-color: white;
}


#usagebar-titles {
	text-align: right;
	padding: 0;
	margin: 0;
}
